.jimu-widget-coordinate .coordinate_background{
	background-color: white;
	padding: 2px 5px 2px 5px;
}
.timeline-background {
    background-color: white;
    /*font-weight: bold;*/
    font-size:13px;
}
.yourdiv
{
	background-color: white;
    display: inline;
}
